<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form method="post">
    <label for="loc">Location</label>
    <input type="text" name="word" id="loc" style="width:200px;height:50px;" placeholder="Only letters and spaces are allowed" oninput="this.value = this.value.replace(/[^a-z, ^A-Z, ]/, '')" oninput="this.value = this.value.replace(/[^a-z, ]/, '')"><br>
    <input type="submit" name="search" value="Search">
    <input type="submit" name="add" value="Add">
    <input type="submit" name="delete" value="Delete">
    </form>
    {% if error %}
        <p><strong>Error</strong>: {{ error }}</p>
    {% endif %}
    {% if success %}
        <p>{{ success }}</p>
    {% endif %}
</head>
<body>

</body>
</html>